@font-face {
    font-family: 'Alegreya';
    src: url('./Alegreya-Italic.woff2') format('woff2'),
        url('./Alegreya-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Regular';
    src: url('./Alegreya-Regular.woff2') format('woff2'),
        url('./Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scriptina';
    src: url('./Scriptina.woff2') format('woff2'),
        url('./Scriptina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scriptina - Alternates';
    src: url('./Scriptina-Alternates.woff2') format('woff2'),
        url('./Scriptina-Alternates.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

